<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1042837516538-ovrdsvdsfli7ktgkha5ersdglqdffjt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042837516538-ovrdsvdsfli7ktgkha5ersdglqdffjt4</string>
	<key>API_KEY</key>
	<string>AIzaSyBWMcHJ5Yw0cJ8bT0Sgo5EDx7PfMZOm86Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1042837516538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proj1.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-cd993</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-cd993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042837516538:ios:030692bad1d1c303</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-cd993.firebaseio.com</string>
</dict>
</plist>